
div.home-page {
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    background-image: url("/src/assets/night-guest-2.png");
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
}

.position-welcome-card {
    grid-column: 2;
}

