
div.home-page {
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    background-image: url("src/assets/night-guest-2.png");
    background-size: cover; /* Covers entire area */
    background-position: center center; /* Centers image so it crops nicely */
    background-repeat: no-repeat; /* No tiling */
}

.position-welcome-card {
    grid-column: 2;
}

